*{
    box-sizing: border-box;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.company{
 padding: 80px 0 140px;
 text-align: center;
}

.company__list {
 display: flex;
 justify-content: space-between;
 align-items: center;
 list-style: none;
}

.company__text{
 font-family: 'Public Sans',sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 35px;
 line-height: 160%;
 letter-spacing: 0.03em;
 color: #424246;;
 margin-bottom: 42px;
}

.all-in-one{
 margin-bottom: 158px;
 text-align: center;

}

.format__items {
 display: flex;
 justify-content: space-around;
 text-align: center;
}

.all__title{
 font-family: 'Poppins',sans-serif;
 font-style: normal;
 font-weight: 600;
 font-size: 44px;
 line-height: 180%;
 color: #000000;
}

.all__text{
 max-width: 837px;
 font-family: 'Poppins',sans-serif;
 font-style: normal;
 font-weight: 400;
 font-size: 24px;
 line-height: 180%;
 color: #696984;
 text-align: center;
 display: inline-block;
 margin-bottom: 103px;
}

.format__item{
 max-width: 450px;
 padding: 0 35px;
}

.format__name{
 font-family: 'Poppins',sans-serif;
 font-style: normal;
 font-weight: 500;
 font-size: 30px;
 line-height: 45px;
 text-align: center;
 color: #000000;
 margin-bottom: 24px;
}

.format__name-center{
 margin-top: 30px;
}

.format__position-center{
 margin-top: 40px;
}

.format__position{
 font-family: 'Poppins',sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 180%;
  text-align: center;
  color: #696984;
}

